
  
  .slider-container{
    padding: 40px;
  }

  h1 {
    font-size: 2.5em;
    
  }
  
  .slide-item {
    text-align: center; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slide-item img {
    width: 100%;
    max-width: 250px; 
    height: auto; 
    object-fit: cover; 
    border-radius: 10px; 
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .slide-item p {
    font-size: 1rem;
    color: #000000;
    margin-top: 10px; 
    padding-right: 50px;
    
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
  }
  
  .next {
    right: 10px;
  }
  
  .prev {
    left: 10px;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .slide-item img {
      max-width: 150px; /* Reducing image size on smaller screens */
    }
    
    .slide-item p {
      font-size: 0.9rem; /* Adjusting text size for better readability on smaller screens */
    }
  }
  