.footer-logo {
  text-align: center;
  margin-bottom: 20px; /* Adjust spacing */
}

.footer-info {
  text-align: center;
  margin-bottom: 20px; /* Adjust spacing */
}

.footer-social {
  text-align: center;
  margin-bottom: 20px; /* Adjust spacing */
}

.footer-signup {
  text-align: center;
  margin-bottom: 20px; /* Adjust spacing */
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
}
