/* src/components/Nav/nav.css */

.logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 60px;
  margin-right: 8px;
}

.site-title {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive; 
  font-size: 1.5em;
  color: white; /* Adjust color for better visibility */
  padding: 15px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(0, 0, 0);
}

.nav-button {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  margin-left: 15px; /* Add some space between buttons */
}

/* Mobile styling */
@media screen and (max-width: 600px) {
  .nav-links {
    display: none; /* Hide nav-links on mobile */
  }
}
.nav-button {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  margin-left: 20px; /* Increased space between buttons */
}